body{
  background-image:
    URL('http://s3-eu-west-1.amazonaws.com/astfbackup/currentimages/shop/images/Style_Guide/colours/large/FLGV-2-1.jpg');
}
/*------CONTAINER------*/
#container{
  position: relative;
  top: -5px;
  background-color: #FFFFFF;
  margin: 20px auto 0px auto;
  width: 800px;
}
/*------HEADER------*/
#header{
  position: relative;
  text-align: center;
  color: #373737;
  background-color:#295A7D;
}

/*------CONTENT------*/
#content{
  position: relative;
  width: 750px;
  padding: 20px;
}

.websites{
  background-color: #D7D4D4;
  padding-left: 5px;
  color: #295A7D;
}
img{
  width: 400px;
  height: 320px;
}

#image{
  text-align: center;
}